*{
    margin: 0;
    font-family: Arial;
    
}
.navbar{
    height: 60px;
    background-color: #0F1111;
    color: white;
    display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.logo{
    background-image:url("images.png");
    background-size:cover;
    height: 50px;
    width: 100px;
}
.nav-logo{
    height: 50px;
    width: 100px;
}
.border{
    border: 2px solid transparent;

}
.border:hover 
{
    border:2px solid white;
}
.add-first{
    color:#cccccc;
    font-size: 12px;

    margin-left:15px;
}
.add-second{
    color: #ffffff;
    font-size:large;
    margin-left:  3px;;
}
.add-icon{
    display: flex;
    align-items:center;
}
.nav-search{
    display: flex;
    background-color: aqua;
    width: 620px;
    height: 40px;
    border-radius: 4px;
}
.search-select{
    background-color: #f3f3f3;
    width: 50px;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;
}
.search-input
{
    width:100%;
    font-size: 1rem;
}
.search-icon{
    width: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size:2rem ;
    background-color:orange;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    color: #0F1111;
}
.nav-second{
    font-size: 0.85rem;
    font-weight: 700;


}
.nav-search:hover{
    border:2px solid orange ;
}
span{
    font-size: 0.7rem;
}
.cart-icon i {
    font-size: 20px;

}
.cart-icon{
    font-size:0.7rem;
    
}
.panel{
    height: 40px;
    background-color:rgb(52, 49, 49) ;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.panel-ops p{
    display: inline;
    margin-left: 20px;
    font-size: 0.85rem;
  
}
.panel-deals{
    font-size: 0.9rem;
    font-weight: 700;
  
}
.panel-ops{
    width: 70%;
}
.hero-section{
    background-image:url("1.jpg");
    height: 400px;
    background-size:cover;
    display: flex;
    align-items:flex-end;
    justify-content:center;
    font-weight: 500;
}
.hero-msg{
    background-color: #ffffff;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content:center;
    margin-bottom: 20px;
   
    width:80%;

    
}
.hero-msg a{
    color:green ;
}
.box{
    border: 2px solid transparent;
    height:400px;
    width:23%;
    background-color: #ffffff;
    margin-top: 5px;
    margin-bottom: 5px;
   
}
.shop-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color:#ffe5d9;
    font-weight: 500;
}
.box-img{
   height:350px;
   background-size: cover;
  
   
  
}
.box-content{
    margin-left: 15px;
    margin-right: 15px; }
   
.box-image{
    background-image: url("15jpg");
    height:350px;
   background-size: cover;
}
a{
    text-decoration: none;
}
.footer-panel1{
    height: 50px;
    background-color: #284b63;
    color: #ffffff;
    display:flex;
    align-items: center;
    justify-content: center;

}
.footer-panel2{
    height: 350px;
    background-color:#102431 ;
    display: flex;
    justify-content: space-evenly;
   
}


.footer-panel2 ul p{
    margin-top: 15px;
    font-size: 1rem;
    color: #ffffff;

}
.footer-panel2 a{
    color: #dddd;
    display: block;
    font-size: 0.89rem;
    margin-top: 10px;
}
.footer-panel3{
    background-color:#102431 ;
    border-top: 0.15px solid white;  
    display: flex;
    justify-content: center;
}
.logo{
    background-image:url("logo.jpeg");
    background-size:cover;
}